include common/header.pug
script(src="sudokus/in-progress.js" defer)
link(rel="stylesheet", href="sudokus/sudokus.css")
h1 in progress
p here you can see all the sudokus you have started but not finished
ul(id="sudokus")
button(id="loadMore") Load more
a(href="/") back