include common/header.pug
h1 sudokus

include sudoku.pug

a(href="/browse") browse
if (user)
    a(href="/solved") solved
    a(href="/in-progress") in progress
    a(href="/profile") profile
    br
    p logged in as 
        b #{user.name}
        span &nbsp;stars:
        b &nbsp;#{user.stars}
    br
    a(href="/logout") logout
else
    a(href="/login") login / register
script(src="script.js")