include common/header.pug
script(src="sudokus/browse.js" defer)
link(rel="stylesheet", href="sudokus/sudokus.css")
h1 browse 
input(type="text" id="search" placeholder="search")
ul(id="sudokus")
button(id="loadMore") Load more
a(href="/") back