link(rel="stylesheet", href="sudoku.css")
script(src="sudoku.js")
p(id="sudokuName")
p(id="checkResult")
div(id="sudokuBox" class="sudokuBox")
button(id="refreshButton") New Sudoku
button(id="solveButton") Solve
br