input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    background-color: unset;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 5px;
    font-size: 2vw;
}

button, input[type="submit"] {
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    transition: 0.3s;
    margin-right: 5px;
    font-size: 2vw
}

input[type="submit"]:hover {
    background-color: #aaa;
}

button:hover {
    background-color: #aaa;
}

a {
    margin-right: 25px;
    font-size: 2vw;
}

h1 {
    font-size: 10vw;
}

p {
    font-size: 4vw;
}

/* for mobile the a tag and buttons must be 7vw font size */

@media only screen and (max-device-width: 600px) {
    a {
        font-size: 7vw;
        display: inline;
    }

    button, input[type="submit"] {
        font-size: 7vw;
    }
    input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
        font-size: 7vw;
    }
}