.sudokuBox {
    width: calc(100% - 25px);
    border-radius: 5px;
    border-collapse: collapse;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.sudokuOverlay {
    width: 100%;
    overflow: hidden;
    position: relative;
    left:20px;
    --border-style: 3px solid rgb(102, 102, 102);
}

.overlay-element {
    position: absolute;
    z-index: 10000;
    pointer-events: none;
}

.sudokuOverlay .vertical {
    border-left: var(--border-style);
    border-right: var(--border-style);
    left: calc(33.33333333333333% - (3*5px) + 4px);
    right: calc(33.33333333333333% + (3*5px) + 2px);
    top: 0;
    bottom: 0;
}

.sudokuOverlay .horizontal {
    border-top: var(--border-style);
    border-bottom: var(--border-style);
    top: calc(33.33333333333333% + 0.5px);
    bottom: calc(33.33333333333333% - 0.5px);
    left: 0;
    right: 0;
    width: calc(100% - 25px);
}


.row {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 5px;
}

.cell {
    min-width: 50px;
    width: calc((100% / 9) - 5px);
    height: 100%;
    border: 1px solid #bbb;
    border-radius: 5px;
    border-collapse: collapse;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: #c1c1c1;
    color: #000;
    margin-right: 5px;
    margin-bottom: 5px;
}

.preDefinedCell {
    color: lightgray !important;
    background-color: #7b7b7b !important;
}

.cell::-webkit-scrollbar {
    display: none;
}

.highlightCell {
    border: 1px solid #f00;
}

.win {
    box-shadow: 0 0 5px 1px green;
}

.lose {
    box-shadow: 0 0 5px 1px red;
}

.fireworkBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
}